
<!-- <div class="container">
    <div *ngFor="let item of data; let i=index;">
            <input type="checkbox"/><label for="ossm">{{item.name}}</label> 
    </div>
</div>
<button type="button" class="btn btn-primary" (click)="finesh()">Finesh</button> -->
<!-- <form [formGroup]="regForm">
   FirstName    : <input type="text" formControlName="firstName">
   Second Name  : <input type="text" formControlName="secondName">
   Address      : <input type="text" formControlName="address">
   City         : <input type="text" formControlName="city">
   <br>
   <br>
   <button class="btn btn-primary" (click)="save()"> Save </button>
   <button class="btn btn-success" (click)="list()"> list </button>
   <button class="btn btn-primary" (click)="update()"> Update </button>


</form> -->
<h1>second</h1>
<ul><li (click)="action(user.employeeid)">
    {{user.firstname}}
</li></ul>
<!-- <div *ngFor="let item of listData">
    <ul>
        <li>{{item.firstName}}</li>
        <li>{{item.secondName}}</li>
        <li>{{item.address}}</li>
        <li>{{item.city}}</li>
        <button class="btn btn-success" (click)="edit(item.id)">Edit</button>
    </ul>
</div> -->