input[type=checkbox] + label {
    color: rgb(56, 231, 12);
    font-style: italic;
  } 
  input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
    border: 3px solid yellow;
  } 
  .full
  {
    border: 2px solid;
    display: inline-flex;
    margin: 20px;
    padding: 10px;
    background: #1d2124;
    color: #f8f9fa;
    width: 40%;
    overflow-wrap: anywhere;
}
  img{
    height: 34px;
    width: 34px;
  }
  p{
    width: 75%;
    text-align: center;
    
  }
  
  h1{
    text-align: center;
}
.design{
  
}